<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Handlebars Demo</title>
  </head>
  <body>
    <form action="/greet" method="post">
      <label for="target">Who to greet:</label>
      <input type="text" id="target" name="target" />
      <button type="submit">Greet!</button>
    </form>
  </body>
</html>
